@import 'tailwindcss';

/* https://tailwindcss.com/docs/preflight */
@layer base {
  h1 {
    font-size: var(--text-2xl);
    @apply font-bold mb-4;
  }
  h2 {
    font-size: var(--text-xl);
    @apply font-semibold mb-3;
  }
  h3 {
    font-size: var(--text-lg);
    @apply font-semibold mb-2;
  }
  p {
    @apply mb-4 leading-relaxed;
  }
  ul {
    @apply list-disc list-inside mb-4;
  }
  a {
    color: var(--color-blue-600);
    text-decoration-line: underline;
  }
}
